*.o
*.d
*.pyc
/osx/XarCMPlugIn/build/
/osx/XarCMPlugIn/XarCMPlugin.xcodeproj/*
!/osx/XarCMPlugIn/XarCMPlugin.xcodeproj/project.pbxproj
/osx/XarKit/build/
/osx/XarKit/XarKit.xcodeproj/*
!/osx/XarKit/XarKit.xcodeproj/project.pbxproj
/osx/xarmdimport/build/
/osx/xarmdimport/xar.xcodeproj/*
!/osx/xarmdimport/xar.xcodeproj/project.pbxproj
/osx/xarql/build/
/osx/xarql/xar.xcodeproj/*
!/osx/xarql/xar.xcodeproj/project.pbxproj
/xar/autom4te.cache/
/xar/configure
/xar/Makefile
/xar/cfghdrs.stamp
/xar/cfgoutputs.stamp
/xar/config.log
/xar/config.status
/xar/include/config.h
/xar/include/xar.h
/xar/lib/Makefile.inc
/xar/lib/libxar.la.in
/xar/src/Makefile.inc
/xar/xar.spec
/xar/lib/.libs/
/xar/lib/*.dylib
/xar/lib/*.so*
/xar/lib/*.a
/xar/lib/*.la
/xar/src/ixar
/xar/src/xar
/*/sonar/
/.scannerwork/
